:root {
	--gradient: #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #161623,
		#161623, #fd004c;
}
body {
	padding: 0;
	margin: 0;
	background: #161623;
}
.gradient {
	width: 300px;
	position: relative;
	margin: 80px auto 0;
	height: 300px;
	justify-content: center;
	display: flex;
	align-items: center;
}
.gradient::before,
.gradient::after {
	width: 100%;
	position: absolute;
	height: 100%;
	content: "";
	border-radius: 200px;
	background: conic-gradient(var(--gradient));
	align-items: center;
	animation: spin 1s infinite linear;
}

.gradient::after {
	filter: blur(20px);
}
.cover {
	z-index: 1;
	width: 280px;
	position: relative;
	height: 280px;
	justify-content: center;
	display: flex;
	border-radius: 200px;
	background: #161623;
	align-items: center;
}

@keyframes spin {
	100% {
		transform: rotate(-360deg);
	}
}
